# 20 Dividing data into subsets

In [1]:
import pandas as pd
df = pd.read_csv("../data/housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [2]:
df.longitude < -122

0         True
1         True
2         True
3         True
4         True
         ...
20635    False
20636    False
20637    False
20638    False
20639    False
Name: longitude, Length: 20640, dtype: bool

In [3]:
df2=df[df.longitude < -122]

In [4]:
df2.shape

(3967, 10)

In [5]:
df_subset = df[df.ocean_proximity.isin(["NEAR BAY", "INLAND"]  )& (df.longitude < -122)] # Obs bitwize

In [6]:
df_subset.ocean_proximity.unique()

array(['NEAR BAY', 'INLAND'], dtype=object)

In [7]:
#df2= df.loc[:, df.columns != 'ocean_proximity']
df.loc[5:500, ["longitude", "latitude"]]

     longitude  latitude
5      -122.25     37.85
6      -122.25     37.84
7      -122.25     37.84
8      -122.26     37.84
9      -122.25     37.84
..         ...       ...
496    -122.26     37.85
497    -122.27     37.85
498    -122.27     37.85
499    -122.27     37.85
500    -122.27     37.85

[496 rows x 2 columns]

## Indexing

In [8]:
df = df.set_index("latitude")

In [9]:
df.index

Index([37.88, 37.86, 37.85, 37.85, 37.85, 37.85, 37.84, 37.84, 37.84, 37.84,
       ...
       39.29, 39.33, 39.26, 39.19, 39.27, 39.48, 39.49, 39.43, 39.43, 39.37],
      dtype='float64', name='latitude', length=20640)

In [10]:
df.loc[37.85,:]

,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
latitude,,,,,,,,,
37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
37.85,-122.25,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
37.85,-122.26,52.0,2202.0,434.0,910.0,402.0,3.2031,281500.0,NEAR BAY
37.85,-122.26,52.0,3503.0,752.0,1504.0,734.0,3.2705,241800.0,NEAR BAY
37.85,-122.26,52.0,2491.0,474.0,1098.0,468.0,3.0750,213500.0,NEAR BAY
37.85,-122.26,52.0,2643.0,626.0,1212.0,620.0,1.9167,159200.0,NEAR BAY
37.85,-122.26,50.0,1120.0,283.0,697.0,264.0,2.1250,140000.0,NEAR BAY
37.85,-122.27,52.0,1966.0,347.0,793.0,331.0,2.7750,152500.0,NEAR BAY
37.85,-122.27,52.0,1228.0,293.0,648.0,303.0,2.1202,155500.0,NEAR BAY
37.85,-122.27,40.0,751.0,184.0,409.0,166.0,1.3578,147500.0,NEAR BAY
37.85,-122.27,42.0,1639.0,367.0,929.0,366.0,1.7135,159800.0,NEAR BAY
37.85,-122.28,41.0,535.0,123.0,317.0,119.0,2.4038,107500.0,NEAR BAY
37.85,-122.28,49.0,1130.0,244.0,607.0,239.0,2.4597,93800.0,NEAR BAY
37.85,-122.28,52.0,1898.0,421.0,1102.0,397.0,1.8080,105500.0,NEAR BAY
37.85,-122.24,37.0,334.0,54.0,98.0,47.0,4.9643,335000.0,NEAR BAY
37.85,-122.23,52.0,2800.0,411.0,1061.0,403.0,6.3434,373600.0,NEAR BAY
37.85,-122.24,52.0,2612.0,365.0,901.0,367.0,7.2354,391100.0,NEAR BAY
37.85,-122.22,28.0,5287.0,1048.0,2031.0,956.0,5.4570,337300.0,NEAR BAY
37.85,-122.29,52.0,477.0,119.0,218.0,106.0,2.5682,120000.0,NEAR BAY
37.85,-122.28,52.0,2246.0,472.0,1005.0,449.0,2.4167,152700.0,NEAR BAY
37.85,-122.24,52.0,3726.0,474.0,1366.0,496.0,9.3959,500001.0,NEAR BAY
37.85,-122.26,52.0,3618.0,768.0,1508.0,755.0,3.2619,309600.0,NEAR BAY
37.85,-122.27,52.0,4076.0,920.0,1800.0,815.0,2.7054,182300.0,NEAR BAY
37.85,-122.27,47.0,2077.0,400.0,719.0,326.0,2.2431,172700.0,NEAR BAY
37.85,-122.27,50.0,1279.0,300.0,675.0,255.0,1.9028,150800.0,NEAR BAY
37.85,-122.27,52.0,1974.0,426.0,875.0,363.0,1.5817,153600.0,NEAR BAY
37.85,-122.27,52.0,335.0,83.0,152.0,77.0,2.2841,106300.0,NEAR BAY
37.85,-122.27,47.0,1375.0,307.0,843.0,319.0,1.3785,142300.0,NEAR BAY
37.85,-122.28,52.0,610.0,145.0,281.0,132.0,2.9018,119400.0,NEAR BAY
37.85,-122.28,44.0,1025.0,198.0,506.0,204.0,1.7300,147900.0,NEAR BAY
37.85,-122.28,48.0,2063.0,484.0,1054.0,466.0,2.2625,132900.0,NEAR BAY
37.85,-121.64,22.0,1999.0,415.0,967.0,320.0,4.4583,253900.0,INLAND
37.85,-122.04,27.0,6039.0,780.0,2181.0,761.0,9.5862,469400.0,NEAR BAY
37.85,-121.96,10.0,3209.0,379.0,1199.0,392.0,12.2478,500001.0,INLAND
37.85,-122.06,17.0,7475.0,1556.0,2092.0,1449.0,3.6437,186500.0,NEAR BAY
37.85,-122.12,18.0,5252.0,686.0,1870.0,657.0,8.0074,454100.0,NEAR BAY
37.85,-122.14,27.0,9147.0,1276.0,3371.0,1269.0,7.3267,389900.0,NEAR BAY
37.85,-122.47,19.0,1926.0,593.0,881.0,546.0,2.9145,140400.0,NEAR BAY
37.85,-122.48,42.0,6297.0,1307.0,2096.0,1205.0,6.4752,500001.0,NEAR BAY
37.85,-122.49,38.0,240.0,29.0,63.0,34.0,12.2547,500001.0,NEAR BAY
37.85,-122.62,30.0,833.0,164.0,358.0,143.0,6.8198,493800.0,NEAR OCEAN
37.85,-121.30,35.0,1034.0,206.0,604.0,192.0,2.2391,120000.0,INLAND
37.85,-119.93,18.0,473.0,115.0,88.0,41.0,4.0833,137500.0,INLAND

## Inde Slicing

In [11]:
df.iloc[5:500,:]

,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
latitude,,,,,,,,,
37.85,-122.25,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
37.84,-122.25,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
37.84,-122.25,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
37.84,-122.26,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
37.84,-122.25,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...
37.86,-122.25,52.0,4048.0,663.0,1316.0,590.0,5.3794,376900.0,NEAR BAY
37.85,-122.26,52.0,3618.0,768.0,1508.0,755.0,3.2619,309600.0,NEAR BAY
37.85,-122.27,52.0,4076.0,920.0,1800.0,815.0,2.7054,182300.0,NEAR BAY
37.85,-122.27,47.0,2077.0,400.0,719.0,326.0,2.2431,172700.0,NEAR BAY
37.85,-122.27,50.0,1279.0,300.0,675.0,255.0,1.9028,150800.0,NEAR BAY

In [12]:
# df[["latitude", "population"]] # Now working as latitude is part of index
df[["longitude", "population"]]

          longitude  population
latitude
37.88       -122.23       322.0
37.86       -122.22      2401.0
37.85       -122.24       496.0
37.85       -122.25       558.0
37.85       -122.25       565.0
...             ...         ...
39.48       -121.09       845.0
39.49       -121.21       356.0
39.43       -121.22      1007.0
39.43       -121.32       741.0
39.37       -121.24      1387.0

[20640 rows x 2 columns]

## Selecting Columns

In [13]:
df.drop(["longitude", "population"], axis=1)

,housing_median_age,total_rooms,total_bedrooms,households,median_income,median_house_value,ocean_proximity
latitude,,,,,,,
37.88,41.0,880.0,129.0,126.0,8.3252,452600.0,NEAR BAY
37.86,21.0,7099.0,1106.0,1138.0,8.3014,358500.0,NEAR BAY
37.85,52.0,1467.0,190.0,177.0,7.2574,352100.0,NEAR BAY
37.85,52.0,1274.0,235.0,219.0,5.6431,341300.0,NEAR BAY
37.85,52.0,1627.0,280.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...
39.48,25.0,1665.0,374.0,330.0,1.5603,78100.0,INLAND
39.49,18.0,697.0,150.0,114.0,2.5568,77100.0,INLAND
39.43,17.0,2254.0,485.0,433.0,1.7000,92300.0,INLAND
39.43,18.0,1860.0,409.0,349.0,1.8672,84700.0,INLAND
39.37,16.0,2785.0,616.0,530.0,2.3886,89400.0,INLAND

In [14]:
df.drop([37.85], axis=0)

,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
latitude,,,,,,,,,
37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
37.84,-122.25,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
37.84,-122.25,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
37.84,-122.26,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...
39.48,-121.09,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
39.49,-121.21,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
39.43,-121.22,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
39.43,-121.32,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
39.37,-121.24,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

## Why?

In [15]:
df.describe()

,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [16]:
df.loc[df["longitude"]<-122].describe()

,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3967.000000,3967.000000,3967.000000,3927.000000,3967.000000,3967.000000,3967.000000,3967.000000
mean,-122.408072,33.831107,2461.945551,497.507003,1203.207714,468.308546,4.103604,244230.881775
std,0.423863,13.270992,1710.886064,341.984939,842.230630,325.648578,2.048455,127889.888450
min,-124.350000,2.000000,8.000000,1.000000,8.000000,1.000000,0.499900,14999.000000
25%,-122.470000,23.000000,1440.000000,287.000000,699.500000,270.000000,2.708300,140900.000000
50%,-122.300000,34.000000,2104.000000,417.000000,1019.000000,395.000000,3.729200,226500.000000
75%,-122.160000,46.000000,3010.000000,612.500000,1479.000000,575.500000,5.001450,331500.000000
max,-122.010000,52.000000,18634.000000,3226.000000,8276.000000,3589.000000,15.000100,500001.000000